<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="template :: app_template(~{::title}, ~{::div.content-wrapper}, ~{::script})">
<head>
    <title>Dashboard</title>
</head>
<body>
    <div class="content-wrapper">
        <el-tag sec:authentication="name"></el-tag>
        <el-tag type="success" sec:authentication="authorities"></el-tag>
    </div>
    <script type="text/javascript">
        Factory.Vue.build();
    </script>
</body>
</html>
