<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="template :: app_template(~{::title}, ~{::div.content-wrapper}, ~{::script})">
<head>
    <title>Demo</title>
</head>
<body>
    <div class="content-wrapper">
        {{ content }}
    </div>
    <script type="text/javascript">
        Factory.Vue.build({
            data() {
                return {
                    content: 'Demo 内容'
                }
            },
            created() {

            },
            methods: {

            }
        });
    </script>
</body>
</html>
