<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="template :: app_template(~{::title}, ~{::div.content-wrapper}, ~{::script})">
<head>
    <title>Grant</title>
</head>
<body>
    <div class="content-wrapper">
        <el-row :gutter="page.gutter">
            <el-col :span="8">
                <el-card class="min-h-3">
                    <el-table
                        ref="users"
                        :data="vo.users"
                        fit
                        stripe
                        border
                        highlight-current-row
                        @row-click="handleUserRowClick"
                        :max-height="600">
                        <el-table-column type="index" width="50" align="center"></el-table-column>
                        <el-table-column prop="username" label="用户名" align="center"></el-table-column>
                        <el-table-column prop="nickname" label="昵称" align="center"></el-table-column>
                    </el-table>
                </el-card>
            </el-col>
            <el-col :span="8">
                <el-card class="min-h-3">
                    <el-table
                        ref="roles"
                        :data="vo.roles"
                        fit
                        stripe
                        border
                        highlight-current-row
                        @selection-change="handleSelectionChange"
                        @row-click="handleRoleRowClick"
                        :max-height="600">
                        <el-table-column type="selection" width="55" align="center"></el-table-column>
                        <el-table-column prop="name" label="名称" align="center"></el-table-column>
                        <el-table-column prop="code" label="编码" align="center"></el-table-column>
                    </el-table>
                </el-card>
            </el-col>
            <el-col :span="8">
                <el-card class="min-h-3">
                    <el-tree
                        ref="menus"
                        :data="vo.menus"
                        :props="{ label: 'name' }"
                        show-checkbox
                        node-key="id"
                        default-expand-all
                        highlight-current>
                    </el-tree>
                </el-card>
            </el-col>
        </el-row>
    </div>

    <script type="text/javascript">
        Factory.Vue.build({
            data() {
                return {
                    axios: Factory.Request,
                    api: '/api/grant',
                    page: {
                        gutter: 15
                    },
                    vo: {
                        users: [],
                        roles: [],
                        menus: []
                    },
                    selected: {
                        user: null,
                        role: null
                    }
                }
            },
            created() {
                this.axios.get(this.api).then(data => this.vo = data);

                // const roles = this.vo.roles;
                // roles.length > 0 && this.$refs.roles.setCurrentRow(roles[0]);
            },
            methods: {
                handleUserRowClick({ id }) {
                    this.$refs.roles.clearSelection();
                    this.selected.user = id;
                    this.axios.get(`${this.api}/role/${id}`).then(data => {
                        console.log('user role:', data)
                    });
                },
                handleSelectionChange(selection) {
                    console.log('selection', selection)
                    const uid = this.selected.user;
                    uid && (() => {
                        const data = selection.map(it => ({ uid, rid: it.id }));
                        console.log(data)
                        this.axios.put(`${this.api}/role`, data);
                    })();

                },
                handleRoleRowClick(row) {
                    console.log('role', row)
                }
            }
        });
    </script>
</body>
</html>
