<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Laboratory</title>

    <div th:replace="head"/>
</head>
<body>
    <div id="app">
        <el-container>
            <el-header class="br-a">Header</el-header>
            <el-container>
                <el-aside  class="br-a" width="200px">Aside</el-aside>
                <el-main class="br-a">Main</el-main>
            </el-container>
        </el-container>
    </div>
    <script type="text/javascript" th:src="@{/assets/js/index.js}"></script>
</body>
</html>
