<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="template :: app_template(~{::title}, ~{::div.content-wrapper}, ~{::script})">
<head>
    <title>Menu</title>
</head>
<body>
    <div class="content-wrapper">
        <el-row :gutter="15">
            <el-col :span="6">
                <el-card>
                    <el-tree :data="data" :props="defaultProps"/>
                </el-card>
            </el-col>
            <el-col :span="18">
                <el-card>
                    <div v-for="o in 4" :key="o" class="text item">
                        {{'right- 列表内容 ' + o }}
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </div>

    <script type="text/javascript">
        Factory.Vue.build({
            data() {
                return {
                    data: [],
                    defaultProps: {
                        label: 'name'
                    }
                }
            },
            created() {
                Factory.Request.get('/menu/tree').then(res => {
                    console.log(res);
                });
            }
        });
    </script>
</body>
</html>
