<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="template :: app_template(~{::title}, ~{::div.content-wrapper}, ~{::script})">
<head>
    <title>Menu</title>
</head>
<body>
    <div class="content-wrapper">
        <el-tag type="error">THRAEX</el-tag>
        <el-tag type="success">{{name}}</el-tag>
    </div>

    <script type="text/javascript">
        VueFactory.create({
            data() {
                return {
                    name: 'THRAEX'
                }
            }
        });
    </script>
</body>
</html>
