<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="template :: app_template(~{::title}, ~{::div.content-wrapper}, ~{::script})">
<head>
    <title>User</title>
</head>
<body>
    <div class="content-wrapper">
        <el-row :gutter="page.gutter" :style="page.rowStyle">
            <el-col :span="24">
                <el-card>
                    <el-row :gutter="page.gutter">
                        <el-col :span="22">
                            <el-input
                                v-model="list.query.params.keywords"
                                @input="search"
                                clearable
                                suffix-icon="el-icon-search"
                                placeholder="请输入关键字"/>
                        </el-col>
                        <el-col :span="2" class="txt-r">
                            <el-button type="primary" @click="dialog.visible = true">新增</el-button>
                        </el-col>
                    </el-row>
                </el-card>
            </el-col>
        </el-row>
        <el-row :gutter="page.gutter" :style="page.rowStyle">
            <el-col :span="24">
                <el-card class="min-h-1">
                    <el-table
                        :data="list.data"
                        v-loading.body="list.loading"
                        fit
                        stripe
                        border
                        highlight-current-row
                        :max-height="600">
                        <el-table-column :index="indexCalc" type="index" width="50" align="center"></el-table-column>
                        <el-table-column prop="nickname" label="昵称" align="center"></el-table-column>
                        <el-table-column prop="username" label="用户名" align="center"></el-table-column>
                        <el-table-column label="是否启用" width="100" align="center" fixed="right">
                            <template slot-scope="scope">
                                <el-switch
                                    v-model="scope.row.enabled"
                                    active-color="#13ce66"
                                    inactive-color="#ff4949"
                                    @change="handleEnable"></el-switch>
                            </template>
                        </el-table-column>
                        <el-table-column
                            fixed="right"
                            label="操作"
                            width="100"
                            align="center">
                            <template slot-scope="scope">
                                <el-button
                                    type="primary"
                                    icon="el-icon-edit"
                                    size="small"
                                    circle
                                    @click="handleEdit(scope.row)"></el-button>
                                <el-button
                                    type="danger"
                                    icon="el-icon-delete"
                                    size="small"
                                    circle
                                    @click="handleDelete(scope.row.id)"></el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-card>
            </el-col>
        </el-row>
        <el-row :gutter="page.gutter">
            <el-col :span="24">
                <el-card>
                    <el-pagination
                        background
                        layout="total, sizes, prev, pager, next, jumper"
                        :page-sizes="[10, 20, 50, 100, 500]"
                        :page-size="list.query.size"
                        :current-page.sync="list.query.page"
                        :total="list.total"
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange">
                    </el-pagination>
                </el-card>
            </el-col>
        </el-row>

        <el-dialog
            :visible.sync="dialog.visible"
            @closed="handleClosed"
            width="30%">
            <span>这是一段信息</span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialog.visible = false">取 消</el-button>
                <el-button type="primary" @click="handleSave">保 存</el-button>
            </span>
        </el-dialog>
    </div>

    <script type="text/javascript">
        Factory.Vue.build({
            data() {
                const gutter = 15;
                return {
                    axios: Factory.Request,
                    api: '/api/user',
                    page: {
                        gutter,
                        rowStyle: { marginBottom: `${gutter}px` }
                    },
                    dialog: {
                        visible: false
                    },
                    list: {
                        data: [],
                        total: 0,
                        loading: false,
                        query: {
                            page: 1,
                            size: 10,
                            params: {
                                keywords: ''
                            }
                        }
                    }
                }
            },
            created() {
                this.search();
            },
            methods: {
                search() {
                    this.list.loading = true;
                    this.axios.get(this.api, {
                        params: this.list.query,
                        paramsSerializer: params => Qs.stringify(params, { allowDots: false })
                    }).then(({ data, total }) => {
                        this.list.data = data;
                        this.list.total = total;
                    }).finally(() => {
                        this.list.loading = false;
                    });
                },
                indexCalc(ind) {
                    const { page, size } = this.list.query;
                    return (page - 1) * size + (ind + 1);
                },
                handleSizeChange(val) {
                    this.list.query.size = val;
                    this.search();
                },
                handleCurrentChange(val) {
                    this.list.query.page = val;
                    this.search();
                },
                handleEnable(val) {
                    console.log(val);
                    this.axios.put(`${this.api}/${val}`).then(data => console.log('Enable:', data));
                },
                handleEdit(row) {
                    console.log(row);
                },
                handleDelete(id) {
                    console.log(id);
                    this.axios.delete(`${this.api}/${id}`).then(data => console.log('Delete:', data));
                },
                handleSave() {
                    this.axios.post(this.api, {
                        // id: 'ad356b8ca873c4650127c7a29aa068b1', nickname: 'THRAEX', username: 'Guiwang1', password: '1232', enabled: true
                        nickname: 'THRAEX', username: 'Guiwang1', password: '1232', enabled: true
                    }).finally(() => this.dialog.visible = false);
                },
                handleClosed(done) {
                    console.log('closed', done);
                }
            }
        });
    </script>
</body>
</html>
