.min-h-1 { min-height: 400px; }
.min-h-2 { min-height: 500px; }
.min-h-3 { min-height: 600px; }
.max-h-1 { min-height: 600px; }

.custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-left: 8px;
}
