/*body {*/
/*    margin: 15px!important;*/
/*}*/

.min-h-1 { min-height: 400px; }
.min-h-2 { min-height: 500px; }
.min-h-3 { min-height: 600px; }
.max-h-1 { min-height: 600px; }

.t-mt-0 { margin-top: 15px; }
.t-mb-0 { margin-bottom: 15px; }

.txt-r { text-align: right; }

.custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-left: 8px;
}

.btn-sublime {
    background-color: #353533;
    border-color: #353533;
}

.btn-sublime:hover {
    background-color: #4b4b49;
    border-color: #4b4b49;
}

.btn-sublime:focus {
    background-color: #4b4b49;
    border-color: #4b4b49;
}

.btn-sublime:disabled {
    background-color: #4b4b49;
    border-color: #4b4b49;
}