<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="template :: app_template(~{::title}, ~{::div.content-wrapper}, ~{::script})">
<head>
    <title>Case</title>
</head>
<body>
    <div class="content-wrapper">
        <el-row>
            <el-col>
                <el-card>
                    <el-form ref="form" :model="form" :rules="rules" label-width="80px" inline>
                        <el-form-item prop="name" label="名称">
                            <el-input v-model.trim="form.name"></el-input>
                        </el-form-item>
                        <el-form-item prop="counter">
                            <input type="hidden" v-model="form.counter"/>
                            <el-upload
                                ref="upload"
                                :action="api"
                                :data="form"
                                :auto-upload="false"
                                :headers="upload.headers"
                                :on-change="handleChange"
                                :on-remove="handleRemove"
                                :on-success="handleSuccess"
                                :limit="1">
                                <el-button size="small" type="success">添加封面</el-button>
                            </el-upload>
                        </el-form-item>
                        <el-form-item class="txt-r">
                            <el-button type="primary" @click="handleSave">保存</el-button>
                        </el-form-item>
                    </el-form>
                </el-card>
            </el-col>
        </el-row>
        <el-row :gutter="15">
            <el-col :span="4" v-for="item in cases" :key="item.id" class="t-mt-0">
                <el-card>
                    <img :src="item.cover" width="100%" height="110"/>
                    <div>
                        {{ item.name }}
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </div>

    <script type="text/javascript">
        Factory.Vue.build({
            data() {
                return {
                    axios: Factory.Request,
                    api: '/api/cases',
                    upload: {
                        headers: {}
                    },
                    form: { name: '', counter: 0 },
                    rules: {
                        name: [
                            { required: true, message: '请输入名称' },
                            { max: 50, message: '长度超出范围' }
                        ],
                        counter: { type: 'number', min: 1, message: '请选择封面' }
                    },
                    cases: []
                }
            },
            created() {
                this.list();
            },
            mounted() {
                const csrf = id => document.getElementById(id).getAttribute('content');
                this.$set(this.upload.headers, csrf('_csrf_header'), csrf('_csrf_token'));
            },
            methods: {
                list() {
                    this.axios.get(this.api).then(data => { this.cases = data; });
                },
                setCover(len) {
                    this.form.counter = len;
                },
                handleChange(file, fileList) {
                    this.setCover(fileList.length);
                },
                handleRemove(file, fileList) {
                    this.setCover(fileList.length);
                },
                handleSuccess() {
                    this.$refs.upload.clearFiles();
                    Object.assign(this.form, { name: '', counter: 0 });
                    this.$refs.form.resetFields();
                },
                handleSave() {
                    this.$refs.form.validate(valid => valid && this.$refs.upload.submit());
                }
            }
        });
    </script>
</body>
</html>
