<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="hbis/base :: app_template(~{::.container-item})">
<body>
    <div class="row container-item mt-3">
        <div class="col-7">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title font-weight-bold">公司简介</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" onclick="window.location.href = '/hbis/company'">
                            <i class="fas fa-info-circle"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <img alt="Cover" width="208" height="160" th:src="${portalVO.company.coverPath}"/>
                        </div>
                        <div class="col-8" style="text-indent: 2em;font: 12px/22px simsun, arial;color: #505050;">
                            [[${portalVO.company.introduction}]]
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-5">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title font-weight-light">新闻资讯</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" onclick="window.location.href = '/hbis/news'">
                            <i class="fas fa-info-circle"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div style="min-height: 160px;">
                        <div th:each="n : ${portalVO.news}">
                            <a th:href="|/hbis/news/${n.type}/${n.id}|" style="font: 12px/26px simsun, Arial,Verdana;color: #505050;">
                                <i class="fas fa-envelope mr-2"></i> [[${n.title}]]
                                <span class="float-right text-muted text-sm"
                                      th:text="${#temporals.format(n.createTime, 'MM-dd')}"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row container-item">
        <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title font-weight-light">项目展示</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" onclick="window.location.href = '/hbis/cases'">
                            <i class="fas fa-info-circle"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-2" th:each="c : ${portalVO.cases}" style="cursor: pointer;" onclick="window.location.href = '/hbis/cases'">
                            <img th:src="${c.cover}" width="150" height="110"/>
                            <label style="font: 12px Verdana, Arial, Helvetica, sans-serif;color: #505050;">[[${c.name}]]</label>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</body>
</html>
