<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="hbis/base :: app_template(~{::.container-item})">
<body>
    <div class="card card-outline card-primary mt-3 container-item" th:with="navigator = ${portalVO.navigator}">
        <div class="card-body p-2" style="min-height: 500px;">
            <div class="row">
                <div class="col-2">
                    <div class="nav flex-column nav-tabs h-100 pl-2" role="tablist" aria-orientation="vertical">
                        <a class="nav-link" role="tab"
                           th:each="item, n : ${navigator.navs}"
                           th:with="active = ${navigator.active.equals(item.code)}"
                           th:classappend="${active} ? 'active'"
                           th:href="${item.url}"
                           th:aria-selected="${active}">
                            <i class="fas mr-2" th:classappend="${n.index == 0} ? 'fa-list-ul' : 'fa-chevron-right'"></i>
                            [[${item.name}]]
                        </a>
                    </div>
                </div>
                <div class="col-10">
                    <div th:utext="${navigator.content}"></div>

                    <div th:each="n : ${portalVO.news}">
                        <div class="dropdown-divider"></div>
                        <a th:href="|/hbis/news/${n.type}/${n.id}|" style="font: 16px/26px simsun, Arial,Verdana;color: #505050;">
                            <i class="fas fa-envelope mr-2"></i> [[${n.title}]]
                            <span class="float-right text-muted text-md"
                                  th:text="${#temporals.format(n.createTime, 'yyyy-MM-dd')}"></span>
                        </a>
                    </div>

                    <div class="card" th:if="${portalVO.newsDetail != null}" th:with="nd = ${portalVO.newsDetail}">
                        <div class="card-header">
                            <h2 class="card-title font-weight-bold" th:text="${nd} ? ${nd.title}"></h2>
                        </div>
                        <div class="card-body">
                            <div class="row text-center">
                                <div class="col-12">
                                    作者：<label th:text="${nd} ? ${nd.author}"></label>
                                    发布于：<label class="ml-1 mr-1" th:text="${nd} ? ${#temporals.format(nd.createTime, 'yyyy-MM-dd')}"></label>
                                    点击数：<label th:text="${nd} ? ${nd.hits}"></label>
                                </div>
                            </div>
                            <div th:utext="${nd} ? ${nd.content}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
